*{
   padding: 0;
   margin: 0;
}

body{
   background: #BDBDBD;
}

/*menu*/
a{
   color: #fff;
   text-decoration: none;
   transition: 0.3s;
}

a:hover{
   color: rgb(196, 161, 5);
   opacity: 0.7s;
}

.logo{
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 4px;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: system-ui, sans-serif ,Arial, Helvetica;
   background: #000;
   height: 9vh;
}


.nav-list{
   list-style: none;
   display: flex;
}

.nav-list li{
   letter-spacing: 3px;
   margin-left: 32px;
}

#nav-list ul li:last-child a {
   float: right;
   background-color: #001aac;
}

.mobile-menu{
   display: none;
   cursor: pointer;
}

.mobile-menu div{
   width: 29px;
   height: 3px;
   background: #fff;
   margin: 8px;
}



/*Responsivo do Menu*/
@media (max-width: 800px) {
   
   body{
    overflow-x: hidden;
   }

   .nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
   }
   
   .nav-list li{
      margin-left: 0px;
      opacity: 0;
   }

   .mobile-menu{
      display: block;
   }

   .nav-list.active{
      transform: translateX(0);
   }
}

/*conteiner*/
#conteiner{
   width: 80%;
}

/*Login*/
form{
   background: #fff;
   max-width: 300px;
   width: 70%;
   padding: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 10px;
   border: solid 3px #000;
}

form h2{
   text-align: center;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
}

form input[type=text],
form input[type=tel],
form input[type=email],
form input[type=password]{
   width: 96%;
   height: 45px;
   padding-left: 10px;
   margin: 15px 0;
   border: none;
   background: none;
   border-bottom: solid 2px #ccc;
   transition: all .4s ease-in-out;
   font-size: 18px;

}

form input[type=text]:hover{
   border-bottom: solid 2px rgb(212, 158, 9);
}

form input[type=tel]:hover{
   border-bottom: solid 2px rgb(212, 158, 9);
}

form input[type=email]:hover{
   border-bottom: solid 2px rgb(212, 158, 9);
}

form input[type=password]:hover{
   border-bottom: solid 2px rgb(212, 158, 9);
}

form input[type=submit]{
   width: 100%;
   height: 30px;
   cursor: pointer;
   background: #DBA901;
   color: #fff;
   border: white 0px;
   border-radius: 20px;
   transition: 1s;
   margin-left: 1%;
}

form input:hover[type=submit]{
   background-color: #B18904;
}

form input[type=text]:focus{
   outline: 0;
}

form input[type=tel]:focus{
   outline: 0;
}

form input[type=email]:focus{
   outline: 0;
}

form input[type=password]:focus{
   outline: 0;
}

form a{
   color: #000;
   margin-left: 1%;
   transition: 0.5s;
   margin-left: 3%;
}

form a:hover{
   color: #000;
   border-bottom: solid 1px #000;
}


