* {
   margin: 0;
   padding: 0;
 }
 
body{
   background: #BDBDBD;
}

 /*Menu*/
 a {
   color: #fff;
   text-decoration: none;
   transition: 0.3s;
 }
 
 a:hover {
   color: #B18904;
 }
 
 .logo {
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 4px;
 }
 
 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
   background: #000;
   height: 8vh;
 }
 
 .nav-list {
   list-style: none;
   display: flex;
 }
 
 .nav-list li {
   letter-spacing: 3px;
   margin-left: 32px;
 }
 
 .mobile-menu {
   display: none;
   cursor: pointer;
 }
 
 .mobile-menu div {
   width: 32px;
   height: 2px;
   background: #fff;
   margin: 8px;
   transition: 0.3s;
 }


 /*esponsivo do Menu*/
 @media (max-width: 999px) {
   body {
     overflow-x: hidden;
   }
   .nav-list {
     position: absolute;
     top: 8vh;
     right: 0;
     width: 50vw;
     height: 92vh;
     background: #000;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     transform: translateX(100%);
     transition: transform 0.3s ease-in;
   }
   .nav-list li {
     margin-left: 0;
     opacity: 0;
   }
   .mobile-menu {
     display: block;
   }
 }
 
 .nav-list.active {
   transform: translateX(0);
 }
 
 @keyframes navLinkFade {
   from {
     opacity: 0;
     transform: translateX(50px);
   }
   to {
     opacity: 1;
     transform: translateX(0);
   }
 }
 
 .mobile-menu.active .line1 {
   transform: rotate(-45deg) translate(-8px, 8px);
 }
 
 .mobile-menu.active .line2 {
   opacity: 0;
 }
 
 .mobile-menu.active .line3 {
   transform: rotate(45deg) translate(-5px, -7px);
 }

/*conteiner*/
#conteiner{
   width: 80%;
}

/*Login*/
form{
   background: #fff;
   max-width: 300px;
   width: 70%;
   padding: 20px;
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 10px;
   border: solid 3px #000;
}

form h2{
   float: left;
   text-align: center;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   border-bottom: 2px #000 solid;
}

form input[type=text],
form input[type=tel],
form input[type=email],
form input[type=password]{
   width: 96%;
   height: 45px;
   padding-left: 10px;
   margin: 15px 0;
   border: none;
   background: none;
   border-bottom: solid 2px #ccc;
   transition: all .4s ease-in-out;
   font-size: 18px;

}

form input[type=text]:hover{
   border-bottom: solid 2px #000;
}

form input[type=tel]:hover{
   border-bottom: solid 2px #000;
}

form input[type=email]:hover{
   border-bottom: solid 2px #000;
}

form input[type=password]:hover{
   border-bottom: solid 2px #000;
}

form input[type=submit]{
   width: 50%;
   height: 30px;
   cursor: pointer;
   background: #DBA901;
   color: #fff;
   border: white 0px;
   border-radius: 20px;
   transition: 1s;
   margin-left: 12%;
}

form input:hover[type=submit]{
   background-color: #B18904;
}

form input[type=text]:focus{
   outline: 0;
}

form input[type=tel]:focus{
   outline: 0;
}

form input[type=email]:focus{
   outline: 0;
}

form input[type=password]:focus{
   outline: 0;
}

form a{
   color: rgb(53, 88, 243);
   margin-left: 1%;
   transition: 0.5s;
   margin-left: 3%;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}

form a:hover{
   color: rgb(53, 88, 243);
}

.google img{
   width: 15px;
}

.google {
   color: #fff;
   padding: 10px;
   font-size: 20px;
   background: #DF013A;
   border-radius: 5px;
   letter-spacing: 1.1px;
   margin-left: 11%;
}

.google:hover{
   color: #ccc;
}

.insta{
   color: #fff;
   padding: 10px;
   font-size: 20px;
   background: #3b5998;
   border-radius: 5px;
   margin-left: 11%;
}

.insta img{
   width: 15px;
}

.insta:hover{
   color: #ccc;
}





/*Cadastro*/
.form{
   background: #fff;
   max-width: 300px;
   width: 70%;
   padding: 20px;
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 10px;
   border: solid 3px #000;
}

.form h2{
   text-align: center;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
}

.form input[type=text],
.form input[type=tel],
.form input[type=email],
.form input[type=password]{
   width: 96%;
   height: 45px;
   padding-left: 10px;
   margin: 15px 0;
   border: none;
   background: none;
   border-bottom: solid 2px #ccc;
   transition: all .4s ease-in-out;
   font-size: 18px;

}

.form input[type=text]:hover{
   border-bottom: solid 2px #000;
}

.form input[type=tel]:hover{
   border-bottom: solid 2px #000;
}

.form input[type=email]:hover{
   border-bottom: solid 2px #000;
}

.form input[type=password]:hover{
   border-bottom: solid 2px #000;
}

.form input[type=submit]{
   width: 50%;
   height: 30px;
   cursor: pointer;
   background: #DBA901;
   color: #fff;
   border: white 0px;
   border-radius: 20px;
   transition: 1s;
   margin-left: 8%;
}

.form label{
   font-family: Arial, Helvetica, sans-serif;
}


